* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
:root {
  --black: black;
  --white: white;
  --Dhūsar-Grey: #ababab;
  --Dire-Wolf: #282828;
  --Thunder: #4d4d4d;
  --Mithril: #878787;
  --Aged-Grey: #7d7d7d;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  text-transform: capitalize;
}
header {
  position: sticky;
  top: 0;
  background-color: var(--white);
  padding: 10px;
}
header .container a img {
  width: 60px;
}
section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 135px);
  padding-top: 100px;
}
section .container .login {
  border: 0.5px solid var(--Mithril);
  border-radius: 10px;
  padding: 20px;
  width: 40%;
}
section .container .image {
  width: 50%;
}
section .container .login h3 {
  font-size: 25px;
  font-weight: 300;
  line-height: 37.5px;
  padding-bottom: 20px;
}
section .container .login h1 {
  font-size: 31px;
  font-weight: 500;
  line-height: 46.5px;
}
section .container .login p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--black);
}
section .container .login form {
  margin-top: 50px;
}
section .container .login form label {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
section .container .login form input {
  outline: none;
  border: 0.6px solid var(--Dire-Wolf);
  background-color: var(--white);
  border-radius: 6px;
  width: 100%;
  padding: 15px;
  margin: 10px 0 20px 0;
}
section .container .login form .password {
  position: relative;
}
section .container .login form img {
  position: absolute;
  top: 23px;
  right: 15px;
  width: 20px;
  height: 18px;
}
section .container .login form input::placeholder {
  font-size: 14px;
  font-weight: 300;
  color: var(--Dhūsar-Grey);
}
section .container .login form .forget {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .container .login form .forget label {
  cursor: pointer;
  font-size: 12px;
  font-weight: 300;
}
section .container .login form .forget input {
  cursor: pointer;
  width: 20px;
}
section .container .login form .forget p {
  font-size: 12px;
  font-weight: 300;
  color: var(--Aged-Grey);
  cursor: pointer;
}
section .container .login form .submit {
  background-color: var(--black);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
}
section .container .login form p {
  font-size: 16px;
  font-weight: 300;
  color: var(--Aged-Grey);
  text-align: center;
  padding: 20px 0 10px 0;
}
section .container .login form p a {
  font-weight: 600;
  color: var(--black);
}
@media (max-width: 545px) {
  section .container .login {
    width: 100%;
  }
  section .container .image {
    display: none;
  }
}
